<form method="post" role="form" class="form-horizontal ">
  <div class="form-group ">
  <div class="col-lg-6 offset-lg-3">
    <label for="formGroupExampleInput" class="d-flex justify-content-center">Username</label>
    <input type="text" class="form-control d-flex justify-content-center" id="username-login" placeholder="Please Enter Your Username">
  </div>
  </div>
  <div class="col-lg-6 offset-lg-3">
  <div class="form-group ">
    <label for="formGroupExampleInput2" class="d-flex justify-content-center">Password</label>
    <input type="password" class="form-control" id="password-login" placeholder="Please Enter Your Password">
  </div>
  </div>
  <div class="col-lg-6 offset-lg-3 d-flex justify-content-center">
  <button type="submit" id="submitButton" class="btn btn-primary mb-2 ">Submit</button>
  </div>
  </br>
  </br>
  <a href="./signup">Click Here To Signup!</a>
</form>

<script src="/javascript/login.js"></script>